/* цвет основного текста #757575 */
/* вторичний цвет #212121 */
/* черний цвет #000000 */
/* белый цвет #FFFFFF */
/*accent #2196F3 */
/* вторичний цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, san-serif;
}

/* Лого logo*/

.logo {
  font-family: Raleway, san-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-weight: 700;

  /* identical to box height */

  letter-spacing: 0.03em;
}
.logo .web {
  color: var(--accent-color);
}
.logo .studio {
  color: #000000;
}

/* Page header */

.page-header {
  background-color: tomato;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  
}

/* Site nav & Contacts */


.site-nav .contacts {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.site-nav .link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .link {
color: var(--primary-text-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}

.contacts :hover,
.contacts :focus {
  color: var(--accent-color);
}

.section {
width: 1200px;
margin-left: auto;
margin-right: auto;

outline: 1px solid red;
}


.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team {
  background-color: #f5f4fa;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

/* Hero */
.hero {
  color: #ffffff;
  background-color: #2f303a;
  text-align: center;
  margin-bottom: 95px;
  
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  }

/* Features */

.feature-list {
  margin-top: 0;
  margin-bottom: 9.4px;

}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.feature-list-title {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  
}
.list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feature-list-description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-text-color);
  letter-spacing: 0.06em;
}

.subtitle-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Button */

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border: 1px solid transparent;
}

 .hero.button {
 align-items: center;
 text-align: center;
 letter-spacing: 0.06em;
 padding: 10px 32px ;
  }

.list .button {
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
}

.list .button:focus,
.list .button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.filter .title {
  color: var(--secondary-text-color);
}

.filter-title-button {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}

/* Футер */
footer {
  background-color: #2f303a;
}

/* Адрес */

.address ul{
font-style: normal;
list-style-type: none;  
font-weight: 400;
font-size: 14px;
line-height: 1.71;
}

.address .city {
  color: #ffffff;
 }

.address .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.logo.logo-footer {
  color: #ffffff;


